@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Tangerine");

.App {
  min-height: 100%;
}

/* base styles */
body{
  height: 100%;
  position: relative;
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.6em;
  background: #dfdfdf;
  color: rgb(112, 70, 70);
  text-align: center;
}

.page-title {
  text-align: center;
  margin: 40px auto;
  color: rgb(163, 84, 84);
  font-family: 'Tangerine', serif;
  font-size: 50px;
}

h4, p {
  margin: 0px auto;
  max-width: 960px;
  
}

.loading, .error {
  text-align: center;
  margin: 40px auto;
}
